$primary-cyan: #3cb4ac;
$secondary-cyan: #147b74;
$pure-black: #000000;
$text-white: rgb(255, 255, 255);
$heading-dark-blue: #264653;
$body-gray-blue: #445964;
$footer-text-gray: #c8c8cf;
$dark-desaturated-blue: #394d6d;
$alert-red: #ff8f70;
$cta-red: #ff525d;
$cta-hover-red: #ff6d6a;
$footer-bg-dark-blue: #252a41;
$card-bg-dark-gray: #2c3545;