@use './utilities/index' as *;

:root {
	--moderate-cyan: #3cb4ac;
	--dark-cyan: #147b74;
	--black: #000000;
	--white-text: hsl(0, 0%, 100%);
	--very-dark-blue-headings: hsl(208, 49%, 24%);
	--very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
	--grayish-blue-footer-text: hsl(240, 2%, 79%);
	--very-dark-desaturated-blue: hsl(237, 23%, 32%);
	--very-light-red: #ff8f70;
	--light-red-CTA-text: #ff525d;
}

body {
	font-size: 16px;
	font-family: 'Overpass', sans-serif;
	font-family: 'Ubuntu', serif;
	background-color: rgb(245, 143, 125);
}




// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Primary

// -
// - Very light red (CTA hover background): hsl(355, 100%, 74%)

// -
// - Very dark black blue (footer background): hsl(240, 10%, 16%)

// ### Gradient

// Background gradient - Intro/CTA mobile nav:

// -
// - Light red:

// Background gradient - body:

// - Very dark gray blue: hsl(237, 17%, 21%)
// -

// ## Typography

// ### Body Copy

// - Font size: 16px

// ### Fonts

// - Family: [Overpass](https://fonts.google.com/specimen/Overpass?preview.text_type=custom)
// - Weights: 300, 600

// - Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom)
// - Weights: 400, 500, 700
