@use './utilities/index' as *;

:root {
	--moderate-cyan: #3cb4ac;
	--dark-cyan: #147b74;
	--black: #000000;
	--white-text: #ffffff;
	--very-dark-blue-headings: #264653;
	--very-dark-grayish-blue-body-copy: #445964;
	--grayish-blue-footer-text: #c8c8cf;
	--very-dark-desaturated-blue: #394d6d;
	--very-light-red: #ff8f70;
	--light-red-CTA-text: #ff525d;
	--very-light-red-CTA-hover-background: #ff6d6a;
	--very-dark-black-blue-footer-background: #252a41;
	--very-dark-gray-blue: #2c3545;
}

body {
	font-size: 16px;
	font-family: 'Overpass', sans-serif;
	font-family: 'Ubuntu', serif;
	background-color: white;
}

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Primary

// -
// -

// -
// -

// ### Gradient

// Background gradient - Intro/CTA mobile nav:

// -
// - Light red:

// Background gradient - body:

// -
// -

// ## Typography

// ### Body Copy

// - Font size: 16px

// ### Fonts

// - Family: [Overpass](https://fonts.google.com/specimen/Overpass?preview.text_type=custom)
// - Weights: 300, 600

// - Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom)
// - Weights: 400, 500, 700
