.nav-mobile,
.mobile-link-box,
.mobile-inner-link-box,
.login-box,
.main-link {
	display: flex;
}

.nav-mobile {
	grid-row: 1/2;
	display: flex;
	justify-content: space-between;
	position: relative;
	padding: 4em 1.5em 0;
	z-index: 100;
}

.nav-mobile-logo {
	grid-column: 1/2;
}

.nav-mobile-btn {
	display: inline-block;
	cursor: default;
}

.mobile-hamburger {
	grid-column: 2/3;
	display: block;
	margin-left: auto;
	cursor: pointer;
}

.mobile-title {
	padding: 0 0.5em;
}



@media (min-width: 992px) {
	.nav-mobile {
		display: none;
	}
}
