@use '../../sass/colors' as *;

.section {
	padding: 7em 1.5em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1.5em;
	font-family: 'Overpass', sans-serif;
}

.section-title,
.section-under-title {
	padding: 0 1em;
	font-size: 2.5rem;
	text-align: center;
	font-weight: 600;
	color: $heading-dark-blue;
}

.section-under-title {
	font-size: 2.5rem;
}

.section-text {
	margin-bottom: 1em;
	font-size: 1.7rem;
	line-height: 1.5;
	text-align: center;
	color: $body-gray-blue;
}

.section-img {
	max-width: 100%;
}

@media (min-width: 992px) {
	.section {
		padding: 10em;
		position: relative;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.section-title {
		margin-bottom: 2em;
		font-size: 4rem;
		width: 100%;
	}

	.section-under-title {
		margin-bottom: 1em;
		padding-left: 0;
	}

	.section-under-title,
	.section-text {
		text-align: left;
	}

	.section-img {
		position: absolute;

		&.camera-img {
			top: 9%;
			right: -20%;
			scale: 100%;
		}
	}

	.section-text {
		font-size: 1.76rem;
		padding: 0.05em;
		line-height: 1.8;
	}

	.one-text {
		&:nth-child(2) {
			margin-bottom: 5em;
		}
	}

	.text-box {
		width: 50%;
	}
}
