.section {
  padding: 7em 1.5em;
	display: flex;
	flex-direction: column;
  align-items: center;
	row-gap: 2em;
  font-family: 'Overpass', sans-serif;
}

.section-title {
  padding: 0 1em;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  color: #2c3545;
}

.section-text {
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: center;
  color: #445964;
}

.section-img {
  max-width: 100%;
}