@use '../../sass/colors' as *;

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5em 0 3em;
	background-color: $footer-bg-dark-blue;
	border-top-right-radius: 8em;
}

.footer-logo {
	margin-bottom: 5em;
	width: 100%;
}

.links-container {
	margin-bottom: 3em;
}

.footer-main-link {
	&.main-link {
		display: block;
		margin-bottom: 1.5em;
		text-align: center;
		color: $text-white;
		font-size: 1.9rem;
		font-weight: 500;
	}
}

.links-box {
	text-align: center;
}

.second-link {
	display: block;
	padding: 0.3em 0;
	color: $footer-text-gray;
}

@media (min-width: 992px) {
	.wrapper {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		column-gap: 8em;
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;
	}

	.footer-logo {
		width: 10%;
	}

	.links-box {
		&.footer-link-box {
			position: static;
			background-color: transparent;
			box-shadow: none;
		}
	}

	.second-link {
		&:hover {
			text-decoration: underline;
		}
	}
}
